.contacts {
  &__wrapper {
    margin-bottom: 120px;

    @include on-desktop {
      margin-bottom: 182px;
    }

    @include page-grid;
  }

  &__forms {
    margin-top: 48px;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__text {
    margin-top: 48px;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: 8 / 11;
    }
  }
}
