.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 14px 16px;
  background-color: $form-color;
  border: 1px solid $form-color;
  font-size: 14px;
  font-weight: 400;
  font-family: Poppins, sans-serif;
  color: $color-input-default;

  &--small {
    height: 48px;
    border-radius: 40px;
  }

  &--big {
    height: 148px;
    border-radius: 16px;
    resize: none;
  }

  &::placeholder {
    color: $color-input-default;
    opacity: 1;
  }

  &:not(:placeholder-shown) {
    color: $color-input;
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
    color: $color-input;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px $form-color inset;
    box-shadow: 0 0 0 1000px $form-color inset;
    -webkit-text-fill-color: $color-input;
  }
}

.button {
  cursor: pointer;
  border: none;
  background-color: $main-text-color;
  color: $secondary-color;
  transition: all $effect-duration;
  font-family: Poppins, sans-serif;

  &--values {
    margin-top: 32px;
    height: 56px;
    border-radius: 40px;
    font-weight: 700;
    line-height: 27px;
    font-size: 16px;

    &:hover {
      box-shadow: 1px 4px 16px #e8e8f066;
      transform: translateY(-2px);
    }

    &:active {
      box-shadow: 1px 4px 16px #e8e8f0a3;
      transform: translateY(0);
    }
  }
}
