.nav {
  &__link {
<<<<<<< HEAD
    position: relative;
    color: $secondary-color;
=======
    color: $menu-text-color;
>>>>>>> de356e7ee5812c5a8a974ee50feb78618a15aab7
    text-decoration: none;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
<<<<<<< HEAD

    &::after {
      content: '';
      position: absolute;
      bottom: -8px;
      display: block;
      width: 100%;
      height: 1px;
      background-color: $secondary-color;

      transition: transform $effect-duration;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
=======
>>>>>>> de356e7ee5812c5a8a974ee50feb78618a15aab7
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
<<<<<<< HEAD
=======

>>>>>>> de356e7ee5812c5a8a974ee50feb78618a15aab7
