.text {
  &__title {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 8px;
  }

  &__description {
    font-weight: 500;
    margin: 0;
  }

  &__link {
    color: $main-text-color;
    text-decoration: none;
    display: inline-block;
    transition: color $effect-duration;
  }
}
