.top-bar {
  padding-block: 24px;
<<<<<<< HEAD

  @include content-padding-inline;
=======
  @include contentPaddingInline;
>>>>>>> de356e7ee5812c5a8a974ee50feb78618a15aab7

  display: flex;
  justify-content: space-between;
  align-items: center;

<<<<<<< HEAD
  @include on-tablet {
=======
  @include onTablet {
>>>>>>> de356e7ee5812c5a8a974ee50feb78618a15aab7
    padding-block: 36px;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

<<<<<<< HEAD
  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 38px;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      height: 56px;
    }
  }
=======
  &__logo {
    display: flex;
  }
>>>>>>> de356e7ee5812c5a8a974ee50feb78618a15aab7
}
