.top-bar {
  padding-block: 24px;

  @include content-padding-inline;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    padding-block: 36px;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__phone-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__phone-number {
    font-size: 12px;
    font-weight: 700;
    color: $main-text-color;
    white-space: nowrap;
    letter-spacing: 2px;
    text-decoration: none;
    display: none;

    @include on-desktop {
      display: block;
      opacity: 0;
      transform: translateX(8px);
      transition: all 0.3s ease;
      pointer-events: none;
    }
  }

  &__phone-wrapper:hover &__phone-number {
    @include on-desktop {
      opacity: 1;
      transform: translateX(0);
      pointer-events: auto;
    }
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 38px;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      height: 56px;
    }
  }
}
